In [1]:
print("hello word")

hello word

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

# Paramètres de connexion.
username = "root"
password = "password"
host = "localhost"
port = 3306
database = "my_dbt_db"

# On créée la connexion vers la base de données.
DATABASE_URI = f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(DATABASE_URI)

# On créée la base de données si elle n'existe pas.
if not database_exists(engine.url):
    create_database(engine.url)

# On créée un DataFrame pour chaque fichier CSV de la base de données.
liste_tables = ["customers", "items", "orders", "products", "stores", "supplies"]

for table in liste_tables:
   csv_url = f"https://raw.githubusercontent.com/dsteddy/jaffle_shop_data/main/raw_{table}.csv"
   df = pd.read_csv(csv_url)
   # On ajoute les informations de de dataframe à la table dans MySQL.
   df.to_sql(f"raw_{table}", engine, if_exists="replace", index=False)

In [3]:
pd.read_csv('https://raw.githubusercontent.com/dsteddy/jaffle_shop_data/main/raw_customers.csv')

                                       id             name
0    ae3a050d-287f-4257-a778-cdb4206aa012    Anthony Wells
1    33a51363-1989-4967-93a1-b8e225b91e84   Scott Thompson
2    2f8f7de0-4c62-4b87-8494-6a50d68052ad   Michael Walker
3    46f7be1b-f2bc-4a91-a7c3-88c141564e31     Alicia Clark
4    c616a2a2-5efc-4e22-9db1-50dfa4d331d1    Dawn Williams
..                                    ...              ...
925  dac6a745-7f69-4989-b73f-ec51b4d244ab     Tony Mendoza
926  fe5dfa9b-16ec-4bf5-b910-b7eff0ade368      Traci Patel
927  cf9e333f-e1c0-4abb-b5f6-b4c9eaf7f111        Ryan Nash
928  bf467f40-51cd-4773-b463-cce4999a5558  Tyler Henderson
929  864b3c0c-41ce-4ff3-9ad4-1d4eea9042ec     Tiffany Bass

[930 rows x 2 columns]